@font-face {
    font-family: 'signaturex_demoregular';
    src: url('signaturexdemoregular-webfont.woff2') format('woff2'),
         url('signaturexdemoregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}